@{
    ViewBag.Title = "HomePage";
}

<div class="jumbotron">
    <h1>CRM</h1>
    <p class="lead">Uniwersalny system do zarządzania zgłoszeniami</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Możliwości</h2>
        <p>
            Zarządzanie bazą zgłoszeń, bazą klientów - dodawanie nowych rekordów, edycja, usuwanie, wyciąganie statystyk i wiele innych.
        </p>
    </div>
    <div class="col-md-4">
        <h2>O autorze</h2>
        <p>Dariusz Steblik, student IV roku, kierunku infomatyka, obecnie pracuje w firmie informatycznej Inelo.</p>
    </div>
    <div class="col-md-4">
        <h2>Pomoc</h2>
        <p>Jeżeli potrzebujesz pomocy w programie, kliknij poniżej.</p>
        <p><a class="btn btn-default">Pomoc &raquo;</a></p>
    </div>
</div>