  @*@{
        Layout = null;
    }*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <style>
        span.field-validation-error {
            color: red;
        }
    </style>
</head>
<body>
    <div style="width:90%; margin:0 auto;" class="tablecontainer">
        <a class="popup btn btn-primary" href="/Client/save/0" style="margin-bottom:20px; margin-top:20px;">Dodaj nowego klienta</a>
        <table id="DBTable">
            <thead>
                <tr>
                    <th>Nip</th>
                    <th>Nazwa firmy</th>
                    <th>Adres firmy</th>
                    <th>Telefon</th>
                    <th>Adres E-mail</th>
                    <th>Edycja</th>
                    <th>Usuwanie</th>
                </tr>
            </thead>
        </table>
    </div>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        $(document).ready(function () {
            var oTable = $('#DBTable').DataTable({
                "ajax": {
                    "url": '/Client/GetClients',
                    "type" : "get",
                    "datatype" : "json"
                },
                "columns": [
                    { "data": "Nip", "autoWidth": true },
                    { "data": "CompanyName", "autoWidth": true },
                    { "data": "Address", "autoWidth": true },
                    { "data": "Phone", "autoWidth": true },
                    { "data": "Email", "autoWidth": true },
                    {
                        "data": "ClientID", "width": "50px", "render": function (data) {
                            return '<a class="popup" href="/Client/save/' + data + '">Edycja</a>';
                        }
                    },
                    {
                        "data": "ClientID", "width": "50px", "render": function (data) {
                            return '<a class="popup" href="/Client/delete/' + data + '">Usuń</a>';
                        }
                    }
                ]
            })

            $('.tablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })

            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');

                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');
                });

                $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                .html($pageContent)
                .dialog({
                    draggable: false,
                    autoOpen : false,
                    resizable : false,
                    model : true,
                    title : 'Popup Dialog',
                    height : 550,
                    width : 600,
                    close: function () {
                        $dialog.dialog('destroy').remove();
                    }
                })

              $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type : "POST",
                        url : url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                oTable.ajax.reload();
                            }
                        }
                    })

                    e.preventDefault();
                })
                $dialog.dialog('open');
            }
        })
    </script>
</body>
</html>
<div>
    @Html.ActionLink("Strona główna", "Index", "Home")
</div>