@{
    ViewBag.Title = "Index";
}
<head>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>  
</head>
<h2>Zgloszenie</h2>
<div class="container">
    <div class="master">
        <h2>Informacje ogolne</h2>
        <table class="table table-responsive">
            <tr>
                <td>Tytul</td>
                <td>
                    <input type="text" id="title" class="form-control" />
                    <span class="error">Podaj tytul</span>
                </td>
                <td>Data zgloszenia</td>
                <td>
                    <input type="text" id="requestDate" class="form-control" />
                    <span class="error">Wybierz datę zgłoszenia!</span>
                </td>
            </tr>
            <tr>
                <td>Klient</td>
                <td>
                    <select id="client" class="form-control" onchange="LoadClient(this)">
                        <option>Wybierz</option>
                    </select>
                    <span class="error">Wybierz klienta!</span>
                </td>
                <td>Rodzaj</td>
                <td>
                    <select id="type" class="form-control" onchange="LoadType(this)">
                        <option>Wybierz</option>
                    </select>
                    <span class="error">Wybierz rodzaj!</span>
                </td>
            </tr>  
            <tr>
                <td>Opis</td>
                <td colspan="3"> 
                    <textarea id="description" class="form-control"></textarea>
                    <span class="error">Podaj opis zgloszenia</span>
                </td>
                <td>Rozwiązanie</td>
                <td colspan="3">
                    <textarea id="solution" class="form-control"></textarea>
                    <span class="error">Podaj finalne rozwiazanie</span>
                </td>
            </tr> 
            <tr>
                <td>Czas lacznie</td>
                <td>
                    <input type="text" id="requestTime" class="form-control" style="width:80px" />
                    <span class="error">Podaj laczy czas</span>
                </td>
            </tr>                                 
        </table> 
    </div>
    <div class="details">
        <h2>
            Etapy zgloszenia
        </h2>
        <table class="table table-responsive">
            <tr>
                <td>Numer etapu</td>
                <td>Data</td>
                <td>Uzytkownik</td>
                <td>Status</td>
                <td>Opis etapu</td>
                <td>Czas etapu</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="mycontainer" id="mainrow">    
                <td>
                    <input type="text" id="stageNumber" class="stageNumber form-control" style="width:80px" />
                    <span class="error">Wpisz numer etapu!</span>
                </td>   
                <td>
                    <input type="text" id="stageDate" class="stageDate form-control" width="80"/>
                    <span class="error">Wybierz datę etapu!</span>
                </td>          
                <td>
                    <select id="user" class="user form-control" onchange="LoadUser(this)">
                        <option>Wybierz</option>
                    </select>
                    <span class="error">Wybierz uzytkownika!</span>
                </td>
                <td>
                    <select id="status" class="status form-control" onchange="LoadStatus(this)">
                        <option>Wybierz</option>
                    </select>
                    <span class="error">Wybierz status!</span>
                </td>
                <td>
                    <textarea type="text" id="stageDesc" class="stageDesc form-control" style="height:80px; width:300px"></textarea>
                    <span class="error">Opisz etap!</span>
                </td> 
                <td>
                    <input type="text" id="stageTime" class="stageTime form-control" style="width:80px" />
                    <span class="error">Wpisz czas wykonywania etapu!</span>
                </td>
                <td>
                    <input type="button" id="add" value="Dodaj" style="width:80px" class="btn btn-success" />
                </td>
            </tr>
        </table>
        <div id="requestItem">
            <table class="table table-responsive" id="requestdetailsItems"></table>
            <span id="requestItemError" style="color:red"></span>
        </div>
        <div style="padding:10px 0; text-align:right">
            <input id="submit" type="button" value="Zapisz zgloszenie" class="btn btn-warning" style="padding:10px 20px" />
        </div>         
    </div>
    <p>
        @Html.ActionLink("Lista zgloszen", "Index")
    </p>
</div>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/myScipts.js"></script>

<script type="text/javascript">
    $(function () {
        $('#requestDate').datepicker({
            dateFormat: 'mm-dd-yy'
        })        
    })
</script>

<script type="text/javascript">
    $(function () {
        $('#stageDate').datepicker({
            dateFormat: 'mm-dd-yy'
        })
    })
</script>

@*<script type="text/javascript">
    $(function () {
        $('#stageDate').datepicker({
            dateFormat: 'mm-dd-yy'
        })
    })
</script>*@

<style>
    span.error{
        display:block;
        visibility:hidden;
        color:red;
        font-size:90%;
    }
    tr.error{
        background-color:rgba(255,0,0,0.35);
    }
</style>